body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.row{
  width: 100%
  background-color: grey;
}

.text-center {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.text-center-head {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.chicken{
  border: 1px solid black;
  background-color: #FFB6C1;
  width: 90%;
  height: 1080px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Helvetica;
  color: black;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}